body {
    background-color: white;
    width: 1200px;
    height: 700px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    position:relative;
    margin: auto;
}
.center{
    border-top-width:5px;
    border-top-style:solid;
    border-top-color:black;

    border-right-width:5px;
    border-right-style:solid;
    border-right-color:black;

    border-left-width:5px;
    border-left-style:solid;
    border-left-color:black;

    width: 500px;
    height: 300px;
    position:absolute;
    top: 100px;
    left:350px;

}
.sc{
    border-width: 5px;
    border-color: black;
    border-style: solid;
    width: 80px;
    height: 200px;
    position:absolute;
    top: 495px;
    left:560px;
}
.front1{
    border-width: 5px;
    border-color: black;
    border-style: solid;
    width: 250px;
    height: 300px;
    top: 50px;
    position: absolute;
}
.bookr3{
    width: 300px;
    height: 350px;
    position: relative;
    top: -1190px;
    left: 280px;
    z-index: 2;
}
.bookr2{
    width: 275px;
    height: 325px;
    position: relative;
    top: -800px;
    left: 200px;
    z-index: 3;
}
.bookr1{
    width: 300px;
    height: 350px;
    position: relative;
    top: -375px;
    left: 100px;
    z-index: 4;
}
#check-btn1{ 
    display: none; 
}
#check-btn1:checked ~ .menubars1{ 
    display: block; 
} 
.menubars1{ 
    display: none;
    position: fixed;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    width: 600px;
    height: 300px;
    border-radius: 50px;
    background-color: azure;
    top: 375px;
    left: 400px;
}
#check-btn2{ 
    display: none; 
}
#check-btn2:checked ~ .menubars2{ 
    display: block; 
} 
.menubars2{ 
    display: none;
    position: fixed;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    width: 600px;
    height: 300px;
    border-radius: 50px;
    background-color: azure;
    top: 250px;
    left: 450px;
    z-index: 5;
}
#check-btn3{ 
    display: none; 
}
#check-btn3:checked ~ .menubars3{ 
    display: block; 
} 
.menubars3{ 
    display: none;
    position: fixed;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    width: 600px;
    height: 300px;
    border-radius: 50px;
    background-color: azure;
    top: 125px;
    left: 500px;
    z-index: 5;
}
